<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= service.location %>
  </p>

  <p>
    <strong>Number of services:</strong>
    <%= service.snumber %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= service.rating %>
  </p>

  <p>
    <strong>Brands:</strong>
    <%= service.brands %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= service.pnumber %>
  </p>

  <p>
    <strong>Next appointment:</strong>
    <%= service.nextappointment %>
  </p>

</div>