<p>Hello, Valaki!</p>

<p><%= link_to "Profile", profile_path %></p>
<p><%= link_to "Parties", parties_path %></p>
<p><%= link_to "Candidates", candidates_path %></p>
<p><%= link_to "Vote", candidates_path %></p>
<p><%= link_to "Logout", 'sessions/destroy' %></p>